* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer-page {
    background-color: #40b3a2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
}